<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myway.yon.domain.user.UserDAO">
	
	<!-- 회원가입 -->
    <insert id="join" flushCache="true" parameterType="com.myway.yon.domain.user.UserDTO">
		<!-- 오라클은 Auto_Increment 기능이 없다. 그렇기에 자동으로 인덱스값을 증가시켜주기 위해서는 시퀀스를 생성해서 사용해야한다. -->
		<!-- Sequence SELECT MAX(no)+1 FROM USERTABLE로 먼저 수행한 후에 결과값을 u_seq에 받아서 INSERT 문장에 추가-->
		<!-- NVL(컬럼,0) 컬럼의 값이 NULL일경우 0으로 치환 -->
		<selectKey keyProperty="u_seq" resultType="int" order="BEFORE">
    		  SELECT NVL(MAX(u_seq) ,0)+1 FROM USERTABLE
   		 </selectKey>
		
		INSERT INTO USERTABLE
			(u_seq, u_id, u_nickname, u_pw, u_email, u_name, u_genderMF, u_birth, u_call, u_regdate)
		VALUES
			(#{u_seq}, #{u_id}, #{u_nickname}, #{u_pw}, #{u_email}, #{u_name}, #{u_genderMF}, #{u_birth}, #{u_call}, SYSDATE)
	</insert>
	
	<!-- 아이디 중복학인 -->
	 <select id="idCheck" resultType="INT">
        SELECT 
         	COUNT(*)
          FROM 
          	USERTABLE
         WHERE 
         	U_ID = #{u_id}
    </select>
    
    <!-- 닉네임 중복학인 -->
	 <select id="nicknameCheck" resultType="INT">
        SELECT 
         	COUNT(*)
          FROM 
          	USERTABLE
         WHERE 
         	U_NICKNAME = #{u_nickname}
    </select>
	
	<!-- 로그인 -->
	 <select id="login" resultType="INT">
        SELECT 
         	COUNT(*)
          FROM 
          	USERTABLE
         WHERE U_ID = #{u_id}
           AND U_PW = #{u_pw}
    </select>
    
    <!-- 세션에 넣을 값 가져오기 -->
    <select id="sessionVal" resultType="java.util.HashMap">
		SELECT
			u_seq,
			u_nickname,
			u_name,
			u_email,
			u_birth,
			u_call,
			u_genderMF
		FROM 
			USERTABLE
		WHERE
	        U_ID = #{u_id}
	</select>
	
	<!-- 내 정보 수정 화면 해당 seq에 맞는 값 불러오기 -->
	<select id="selectByUid" resultType="com.myway.yon.domain.user.UserDTO">
		SELECT
			u_nickname,
			u_name,
			u_email,
			u_birth,
			u_call,
			u_genderMF
		FROM 
			USERTABLE
		WHERE
	        U_SEQ = #{u_seq}
	</select>
	
	<!-- 내 정보 수정 비번 확인 
	 <select id="pwchk" resultType="INT">
        SELECT 
         	COUNT(*)
          FROM 
          	USERTABLE
         WHERE 
         	U_SEQ = #{u_seq}
         AND U_PW = #{u_pw}
    </select>-->
    
    <!-- 회원 정보 수정하기 -->
	<update id="userUpdate" flushCache="true"  parameterType="com.myway.yon.domain.user.UserDTO">
		UPDATE 
			USERTABLE 
		SET 
			U_NICKNAME = #{u.u_nickname}, 
			U_PW = #{u.u_pw},
			U_EMAIL = #{u.u_email}, 
			U_NAME = #{u.u_name},
			U_GENDERMF = #{u.u_genderMF}, 
			U_BIRTH = #{u.u_birth}, 
			U_CALL = #{u.u_call}, 
			U_MODIFYDATE = SYSDATE
		WHERE 
			U_SEQ = #{u.u_seq}
	</update>
	
	<!-- 회원 탈퇴 -->
	<delete id="deleteByUseq"> 
	 	DELETE FROM 
	 		USERTABLE 
 		WHERE 
 			U_SEQ = #{u_seq} 
 	</delete>

</mapper>    


