<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myway.yon.domain.user.UserDAO">
	
	 <select id="login" resultType="INT">
        SELECT 
         	COUNT(*)
          FROM 
          	USERTABLE
         WHERE U_ID = #{u_id}
           AND U_PW = #{u_pw}
    </select>
    
  <!--  <select id="login1" resultMap="userDTOResultMap">-->
      <!--  SELECT 
         	*
          FROM 
          	USERTABLE
         WHERE U_ID = #{u_id}-->
    <!--</select>-->

</mapper>    

